name: Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Allow actions to create release
      attestations: write # To create and write attestations
      id-token: write # Additional permissions for the persistence of the attestations
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install debootstrap from Ubuntu git
        run: |
            sudo git clone --depth 1 https://git.launchpad.net/ubuntu/+source/debootstrap /debootstrap
            sudo chmod a+x /debootstrap/debootstrap
            sudo ln -s /debootstrap/debootstrap -t /usr/local/bin
  
      - name: Build Rootfs
        working-directory: rootfs
        run: |
          sudo apt install -y podman
          sudo sh build.sh
      
      - uses: vanilla-os/vib-gh-action@v0.8.1
      
      - name: Create Checksum
        working-directory: rootfs
        run: |
          sha256sum vanilla-pico.tar.gz > checksums.txt

      - name: Create Release
        working-directory: rootfs
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create "${{ github.ref_name }}" --generate-notes vanilla-pico.tar.zst checksums.txt

      - name: Attest Release Files
        id: attest
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: 'Containerfile, rootfs/*.tar.gz, rootfs/checksums.txt'
