name: Vib PR

on:
  pull_request:
    branches: [ "main" ]

jobs:

    build:

        runs-on: ubuntu-latest
    
        steps:
        - uses: actions/checkout@v3
    
        - name: Rootfs
          run: |
            sudo apt install -y debootstrap podman
            cd rootfs
            sudo sh build.sh
            cd ..
    
        - name: Vib
          run: |
            wget https://github.com/Vanilla-OS/Vib/releases/download/v0.3.1/vib
            chmod +x vib
            ./vib build recipe.yml
            sed -i '/\/var\/tmp\/*/{d}' Containerfile
   
        - name: Build the Docker image
          run: podman image build -f Containerfile --tag vanillaos/pico:validation .

        - name: Upload vanilla-pico-rootfs
          uses: actions/upload-artifact@v3
          with:
            name: vanilla-pico-rootfs
            path: rootfs/vanilla-pico.tar.zst
    
        - name: Upload Containerfile
          uses: actions/upload-artifact@v3
          with:
             name: Containerfile
             path: Containerfile
